/*
 *  header settings
 */

// set the defaults for all responsive levels here (desktop first)
// after that, use the media queryies to adujust the lower responsive levels

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width

  header {
    background-image: url('../../../../images/head-back.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #header_box {
    padding-top: 2rem;
    padding-bottom: .5rem;
    margin: 0 auto;
  }

  #project_logo_box {
    display: flex;
  }

  .parent-logo {
    width: 300px;
  }

  .project-logo {
    width: 350px;
  }

// X-Large devices (large desktops, less than 1400px)
@include media-breakpoint-down(xxl) {
  // add/overwrite styles for responsive level xl and lower
}

// Large devices (desktops, less than 1200px)
@include media-breakpoint-down(xl) {
  // lg and lower
}

// Medium devices (tablets, less than 992px)
@include media-breakpoint-down(lg) {
  // md and lower
}

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(md) {
  // sm and lower
}

// X-Small devices (portrait phones, less than 576px)
@include media-breakpoint-down(sm) {
  // xs
}
