// **************************************************
//  Variables
// **************************************************

// --------------------------------------------------
//  modifies bootstrap/bootswatch settings
// --------------------------------------------------
//  You can't use bootstrap variables here,
//  they are unknown yet.
//  But if you set them here, you will overwrite
//  the bootstrap defaults! in this way

// --------------------------------------------------
//  project settings
// --------------------------------------------------

$noaBlue:     #255595; // button primary
$noaBlue-10:  #1b3e6c; // 10% darkened
$noaBlueLight:#3685d4; // button default
$noaPaper:    #f7f7f7; // page back
$noaBlack:    #464646; // text
$noaRed:      #e61f4a; // form has error


// unused from old project - so much gray
// rename befor using

$sitenav:       #191919;  // side nav text
$copyright:     #333;     // copyright color
$select:        #777;     // select
$sidenavBack:   #BCD2F2;  // side nav back
$placeholder:   #ccc;     // placeholder color
$navToggle:     #C8D8E8;  // side nav toggle
$footerBorder:  #ddd;     // footer border
$buttonBorder:  #D3D3D3;  // button primary border
$cblistBack:    #EDF5FB;  // cblist back

// --------------------------------------------------
//  overwrite bootswatch
// --------------------------------------------------

$web-font-path: "https://webfonts.gbv.de/css?family=Open+Sans";

// --------------------------------------------------
//  overwrite bootstrap
// --------------------------------------------------

$primary: $noaBlue;
$secondary: $noaBlueLight;
$danger: $noaRed;

$body-color: $noaBlack;

$link-color: $noaBlue;
$link-hover-color: $noaBlue-10;

$font-size-base: 1rem;
// verdana, arial, sans-serif
$font-family-sans-serif: Verdana, Arial, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
$headings-font-family: "Source Sans Pro", Calibri, Candara, Arial, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Pagination
// overwrite bootswatch width bs default
/*
$pagination-color:                  $white !default;
$pagination-bg:                     $success !default;
$pagination-border-width:           0 !default;
$pagination-border-color:           transparent !default;
$pagination-hover-color:            $white !default;
$pagination-hover-bg:               darken($success, 15%) !default;
$pagination-hover-border-color:     transparent !default;
$pagination-active-bg:              $pagination-hover-bg !default;
$pagination-active-border-color:    transparent !default;
$pagination-disabled-color:         $gray-200 !default;
$pagination-disabled-bg:            lighten($success, 15%) !default;
$pagination-disabled-border-color:  transparent !default;
*/

$prefix: "bs-";
$component-active-bg:$primary;

$pagination-color:                  var(--#{$prefix}white);
$pagination-bg:                     var(--#{$prefix}primary);
$pagination-border-width:           var(--#{$prefix}border-width);
$pagination-border-color:           var(--#{$prefix}border-color);
$pagination-hover-color:            var(--#{$prefix}primary);
$pagination-hover-bg:               var(--#{$prefix}white);
$pagination-hover-border-color:     var(--#{$prefix}border-color);
$pagination-active-color:           var(--#{$prefix}primary);
$pagination-active-bg:              var(--#{$prefix}white);
$pagination-active-border-color:    var(--#{$prefix}primary-color);
$pagination-disabled-color:         var(--#{$prefix}secondary-color);
$pagination-disabled-bg:            var(--#{$prefix}secondary-bg);
$pagination-disabled-border-color:  var(--#{$prefix}border-color);