# eclipse
.project
.settings/

# application specific files on server
jwt.secret
messages_de.resolved.properties
messages_en.resolved.properties
mycore.active.properties
/mycore.properties
mycore.resolved.properties
resources/META-INF/persistence.xml
MCRWebCLI-unprocessed-commands.txt

# noa specific files on server
noa_module/target
noa_module/noa-module.iml
noa_module/noa_module.iml
reposis_noa.iml
OAILastHarvest.txt
lib/noa-module-1.0-SNAPSHOT.jar
